* {
  margin: 0;
  padding: 0;
  font-family: serif;
  box-sizing: border-box; /* scroll issues fix */
}

html,
body {
  height: 100%; /* scroll control */
  overflow: hidden; /* extra scroll remove */
}

body {
  background-image: url("images/image1.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center; /* horizontal center */
  margin-top: 50px;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(203, 255, 92, 0.7), 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 15px;
  margin-top: 30px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 250px;
  width: 300px;
  border-radius: 20px;
  text-align: center;
}

/* Input */
#wheather {
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  height: 35px;
  width: 240px;
  background-color: #023e7d; /* dark blue */
  color: #f5f5f5;
  border: none;
  outline: none;
}

#wheather::placeholder {
  color: #f2f4f3;
  font-weight: 900;
  font-style: oblique;
  font-size: 18px;
}

/* Button */
#btn {
  height: 35px;
  width: 150px;
  border-radius: 15px;
  border: none;
  background-color: #023e7d;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
